.flexCol--mobile__plp--header_title {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : baseline;
    gap            : 4px;
}

.flexRowContent--mobile__plp--second_head {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.flexRowContent--mobile__plp--filters {
    padding: 1px 11px;
}

@media (max-width: 400px) {
    .flexRowContent--mobile__plp--header_titlefull :global(.vtex-search-result-3-x-galleryTitle--layout) {
        font-size: 10px;
    }
}
