.paragraph--mobile__department--title {
    text-transform: uppercase;
    font-size     : 13px;
}

@media (max-width: 400px) {
    .paragraph--mobile__department--title {
        font-size: 10px;
    }

}