.container--mobile__pdp--sizes_text {
    font-size  : 15px;
    white-space: nowrap;
}

.container--mobile__pdp--size_select {
    font-size     : 14px;
    letter-spacing: .3px;
}

.container--mobile__pdp--size_select {
    display        : flex;
    justify-content: center;
}

.paragraph--mobile__pdp--country {
    font-size     : 13px;
    letter-spacing: .3px;
    font-family   : "MangoSans-Light";
    color         : #aaa;
}

.paragraph--mobile__pdp--imported_for {
    font-size     : 11px;
    letter-spacing: .3px;
    font-family   : "MangoSans-Light";
    color         : #aaa;
}

.wrapper--mobile__pdp--imported_for {
    padding: 0 0.3rem;
}

.wrapper--mobile__pdp--country {
    padding: 0 0.3rem;
}

.paragraph--mobile__pdp--imported_country {
    font-size     : 11px;
    letter-spacing: .3px;
    font-family   : "MangoSans-Light";
    color         : #aaa;
}

.wrapper--mobile__pdp--imported_country {
    padding: 0 0.3rem;
}