.image--product__image {
    width : 15rem;
    height: 11rem;
}

.nameContainer--product__name {
    font-weight: bold;
}

.productBrand--product__name {
    font-size: 14px;
}

.containerNormal--home__shelf--products {
    border : 1px solid #d7d7d7;
    padding: 1rem;
}

.containerNormal--home__shelf--products:hover {
    border : 1.5px solid #d7d7d7;
}

.price_installment--product__price {
    font-size: 1px;
}