.container--desktop__pdp--pagination {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    color          : #aaa;
    font-size      : 11px;
    line-height    : 16px;
    letter-spacing : .3px;
    margin-top     : 1.3rem;
    transform      : translateX(-61px);
}

.paragraph--desktop__pdp--reference {
    color         : #666;
    font-size     : 10px;
    line-height   : 16px;
    letter-spacing: 1px;
}

.paragraph--desktop__pdp--sku_name {
    font-size     : 13px;
    letter-spacing: .3px;
}

.paragraph--desktop__pdp--imported_for {
    white-space: nowrap;
}

.paragraph--desktop__pdp--imported_for {
    color         : #aaa;
    font-size     : 11px;
    line-height   : 16px;
    letter-spacing: .3px;
}

.paragraph--desktop__pdp--imported_country {
    color         : #aaa;
    font-size     : 11px;
    line-height   : 16px;
    letter-spacing: .3px;
}

.paragraph--desktop__pdp--country {
    color         : #aaa;
    font-size     : 11px;
    line-height   : 16px;
    letter-spacing: .3px;
}

.paragraph--desktop__pdp--care_title {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.paragraph--desktop__pdp--composition {
    font-size: .8125rem;
    line-height: 1.25rem!important;
    letter-spacing: .01875rem;
    color: #121314;
    font-family: "MangoSans-Light";
}

.paragraph--desktop__pdp--designed {
    font-size: .8125rem;
    line-height: 1.25rem!important;
    letter-spacing: .01875rem;
    color: #121314;
    font-family: "MangoSans-Light";
}

.paragraph--desktop__pdp--origin {
    font-size: .6875rem;
    line-height: 1rem;
    letter-spacing: .01875rem;
    font-family: "MangoSans-Light";
}

.wrapper--desktop__pdp--country {
    margin-top: 18px;
}

.paragraph--global__pdp--products {
    font-size: .8125rem;
    line-height: 1.25rem;
    letter-spacing: .0625rem;
    font-weight: bold;
}


