@media (max-width: 425px) {
    .gallery--search__result--gallery--main-grid {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .filtersWrapperMobile--mobile__filter--navigator:first-child :global(.vtex-search-result) {
        height: 2.3rem !important;
    }
}

@media (max-width: 768px) {
    .gallery--search__result--gallery--main-grid {
        display       : flex;
        flex-direction: row;
        align-items   : center;
    }
}

