.styledLinkContent {
    font-family: "Urbanist";
}

.styledLinkContent--header__menu--department_name {
    font-weight   : bold;
    font-size     : .8rem;
    letter-spacing: 1px;
}

.styledLinkContent--header__menu--department_name:hover {
    border-bottom: 1px solid #040100;
    transition   : 0.1s;
}

.styledLinkContent--header__menu--category_name {
    font-weight: bold;
    font-size  : 1.3rem;
    color      : #979899;
}

.styledLinkContent--header__menu--category_name:hover {
    color     : #040100;
    transition: color 0.5s ease;
}

.styledLinkContent--header__menu--category_name-discount {
    font-weight: bold;
    font-size  : 1.3rem;
    color      : #f71963;
}

.styledLinkContent--header__menu--category_name-discount:hover {
    color     : #dd1659;
    transition: color 0.5s ease;
}

.styledLink--header__menu--subcategory {
    color: #040100;
}

.styledLink--header__menu--subcategory:hover {
    color     : #979899;
    transition: color 0.5s ease;
}

.submenuWrapper--desktop__subcategory--women--isOpen {
    display       : flex;
    flex-direction: row-reverse;
    margin-left   : 29rem;
    margin-right  : 9rem;
    width         : 12rem;
    height        : 24rem;
    margin-top    : -25px;
}

.submenuWrapper--desktop__submenu--container--isOpen {
    height    : 31rem;
    width     : 100%;
    padding   : 2rem;
    overflow  : hidden;
    margin-top: 3px;
}

.submenu--desktop__subcategory--women {
    position: fixed;
    top     : 100px;
    left    : 500px;
}