.styledLinkContent {
    font-family: "MangoSans-Regular";
}

.menuContainerNav--desktop__menu--category {
    display: flex;
    height: 64px;
    margin: 0 0 0 1rem;
    padding: 0;
    list-style: none;
}
.menuItem--header__menu--department_name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4.7rem;
    margin: 0;
    list-style: none;
    cursor: pointer;
    margin-left: -5px;
}

.menuItem--header__menu--category_name--isOpen::after {
   
}

.styledLinkContainer--header__menu--category_name   {
    content: "→"
}

.styledLinkContent--header__menu--department_name {
    font-weight   : bold;
    font-size     : .8rem;
    letter-spacing: .5px;
}

.styledLinkContent--header__menu--department_name:hover {
    border-bottom: 1px solid #040100;
    transition   : 0.1s;
}

.styledLinkContent--header__menu--category_name {
    font-weight: bold;
    font-size  : 1.3rem;
    color      : #979899;
}

.styledLinkContent--header__menu--category_name:hover {
    color     : #040100;
    transition: color 0.5s ease; 
}

.styledLinkContent--header__menu--category_name-discount {
    font-weight: bold;
    font-size  : 1.3rem;
    color      : #f71963;
}

.styledLinkContent--header__menu--category_name-discount:hover {
    color     : #dd1659;
    transition: color 0.5s ease;
}

.styledLink--header__menu--subcategory {
    color: #040100;
}

.styledLink--header__menu--subcategory:hover {
    color     : #979899;
    transition: color 0.5s ease;
}

.submenuWrapper--desktop__subcategory--women--isOpen {
    display       : flex;
    flex-direction: row-reverse;
    margin-left   : 29rem;
    margin-right  : 9rem;
    width         : 12rem;
    height        : 24rem;
    margin-top    : -25px;
    border        : none;
}

.submenuWrapper--desktop__submenu--container--isOpen {
    height    : 31rem;
    width     : 100%;
    padding   : 2rem;
    overflow  : hidden;
    margin-top: 30px;
}

.submenu--desktop__subcategory--women {
    position: fixed;
    top     : 100px;
    left    : 500px;
}

.menuItem--header__menu--category_name--isClosed {
    display: flex;
    align-items: flex-end;
}

.menuItem--header__menu--category_name-discount--isClosed {
    display: flex;
    align-items: flex-end;
}