.cartIcon--desktop__menu--minicart {
    margin-top: -38px;
    width     : 32px;
    height    : 25px;
}

.minicartQuantityBadge--desktop__menu--minicart {
    margin-top      : .2px;
    margin-right    : 4px;
    background-color: transparent;
    color           : #000000;
}

.minicartProductListContainer--minicart__product--list {
    margin-top: 1rem;
}
