.paragraph--header__freeShipping--one {
    font-family: "Urbanist";
    font-size: 12px;
    font-weight: bold;
    padding: .4rem;
}

.paragraph--desktop__searchbar--one {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .3px;
}