.buttonText {
    display: none;
}

.globeIcon--desktop__menu--favorites {
    width     : 1.8rem;
    height    : 1.2rem;
    margin-top: 12px;
}

.relativeContainer--desktop__menu--favorites {
    margin-top: 4px;
}