.paragraph--header__freeShipping--one {
    font-family: "MangoSans-Regular";
    font-size  : 12px;
    padding    : .4rem;
    font-weight: bolder;

}

.paragraph--desktop__searchbar--one {
    display       : flex;
    font-size     : .6875rem;
    line-height   : 1rem;
    white-space   : nowrap;
    font-weight   : bold;
    letter-spacing: .01875rem;
}

.paragraph--desktop__subcategory--header {
    margin-left   : 23px;
    margin-bottom : 15px;
    margin-top    : -6px;
    color         : #727273;
    text-transform: uppercase;
    font-size     : 13px;
    letter-spacing: .6px;
}

.container--desktop__searchbar--one {
    margin-top: -6px;
}


.paragraph--desktop__login--info {
    font-size     : 11px;
    font-weight   : bold;
    letter-spacing: .3px;
    margin-top    : -24px;
}

.paragraph--desktop__favorites--info {
    font-size     : 11px;
    font-weight   : bold;
    letter-spacing: .3px;
    margin-top    : 0.3px;
}

.paragraph--desktop__minicart--info {
    font-size     : 11px;
    font-weight   : bold;
    letter-spacing: .3px;
    margin-top    : -28.4px;
}

.container--header__freeShipping--one {
    background-color: #ffffff;
    border-bottom   : 1px solid #d7d7d8;
}

.paragraph--desktop__close--info {
    margin-top  : 2.2rem;
    margin-right: -3rem;
    font-size   : 11px;
    font-weight : bold;
}

.wrapper--desktop__quantity--selector {
    font-size: .8125rem;
    transform: translateX(-46px);
}

.wrapper--desktop__size--selector {
    font-size: .8125rem;
    transform: translateX(-180px);
    position : relative;
    top      : 50px;
    color    : #727273;
}

.wrapper--desktop__color--selector {
    font-size: .8125rem;
    transform: translateX(-180px);
    position : relative;
    top      : 48px;
    color    : #727273;
}

.wrapper--desktop__taxes--info {
    font-size     : .75rem;
    letter-spacing: .01875rem;
}

.paragraph--desktop__taxes--info {
    white-space: nowrap;
    margin-top : -23px;
}

.paragraph--desktop__size--selector {
    position: relative;
    top     : -30px;
    left    : -20px;
}

.paragraph--desktop__color--selector {
    position: relative;
    top     : -11px;
    left    : -61px;
}

.container--desktop__search--icon {
    display       : flex;
    font-size     : .6875rem;
    line-height   : 1rem;
    font-weight   : bold;
    letter-spacing: .01875rem;
}

.container--desktop__login--icon {
    display       : flex;
    font-size     : .6875rem;
    line-height   : 1rem;
    white-space   : nowrap;
    font-weight   : bold;
    letter-spacing: .01875rem;
}

.container--desktop__favorites--icon {
    display       : flex;
    font-size     : .6875rem;
    line-height   : 1rem;
    white-space   : nowrap;
    font-weight   : bold;
    letter-spacing: .01875rem;
}

.container--desktop__bag--info {
    display       : flex;
    font-size     : .6875rem;
    line-height   : 1rem;
    white-space   : nowrap;
    transform     : translateY(-26px);
    font-weight   : bold;
    letter-spacing: .01875rem;
}


