.emailInputContainer--desktop__input--email:first-child :global(.vtex-input-prefix__group) {
    border       : none;
    border-bottom: 1px solid #d7d7d8;
    margin-bottom: 27px;
    border-radius: 0;
    width        : 18.7rem;
    margin-left  : -2.9rem;
}

.formSubmitContainer--desktop__submit--email :global(.vtex-button) {
    background-color: black;
    border-color    : black;
    border-radius   : 0;
    text-transform  : capitalize;
    width           : 18.7rem;
    margin-left     : -2.9rem;
    font-size       : 13px;
    border          : none;
    font-weight     : bold;
}

.formSubmitContainer--desktop__submit--email:hover :global(.vtex-button) {
    background-color: #aaa;
    transition      : background-color 0.8s ease;
}