.paragraph--desktop__modal--title {
    margin: 0 auto;
    font-size: 18px;
    display: block;
    letter-spacing: .3px;
    overflow-wrap: break-word;
    text-align: center;
    font-weight: bold;
}

.paragraph--desktop__modal--content {
    display: block;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .3px;
    margin-bottom: 15px;
}

.paragraph--desktop__footer--discounts {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .3px;
    line-height: 20px;
    white-space: nowrap;
    margin-bottom: 1.5rem;
    margin-top: 3.2rem;
}