.globeIcon--tablet__menu--favorites {
    position: absolute;
}

.container--tablet__favorites--icon {
    position: relative;
    left    : 1px;
    width   : 43px;
    top     : 3px;
}

.button--tablet__menu--favorites {
    position: relative;
    left    : -19px;
}

.globeIcon--tablet__favorites--icon {
    width   : 23px !important;
    height  : 22px !important;
    position: absolute;
    right   : 13px;
}