.profileIcon--tablet__icon--login {
    width   : 27px;
    height  : 27px;
    position: absolute;
    top     : 5px;
    right   : 9px;
}

@media (max-width: 768px) {
    .contentContainer {
        position: absolute;
        left    : -8.2rem;
    }

    .arrowUp {
        margin-right: 8px;
        margin-top  : 13px;
        border      : 1px solid #aaa;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .profileIcon--tablet__icon--login {
        height: 26px;
        top   : 6px;
    }

}