.autoCompleteOuterContainer--tablet__header--menu {
    background-color: #f3f3f3;
}

.autoCompleteOuterContainer--tablet__header--menu :first-child {
    border          : none;
    background-color: #f3f3f3;
}

.autoCompleteOuterContainer--tablet__header--menu :nth-child(2n) {
    background-color: #f3f3f3;
}

.autoCompleteOuterContainer--tablet__header--menu :nth-child(1n) {
    background-color: #f3f3f3;
}

.searchBarIcon--tablet__header--menu--search :first-child {
    display: none;
}

.searchBarInnerContainer--tablet__header--menu {
    width        : 100%;
    padding      : 10px;
    border-radius: 5px;
}

.infoCardCallActionContainer--desktop__home--grid_card1:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card2:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card3:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card4:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card5:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card6:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card7:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card8:last-child :global(.vtex-button__label),
.infoCardCallActionContainer--desktop__home--grid_card9:last-child :global(.vtex-button__label) {
    border-bottom: 1px solid white;
    padding      : 0;
}

.portalWrapper--phone__header--menu :global(.vtex-search-1-x-biggy-autocomplete) {
    flex-direction: column;
    width         : 25rem;
    margin-left   : -9rem;
    margin-top    : 13px;
}


    
