.drawerTriggerContainer--mobile__text--filters {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    transform     : translate(-419px, 10px);
}

.opened--header__plp--filters {
    height   : 27rem;
    width    : 80rem;
    width    : 100vw !important;
    max-width: 100vw !important;
}