.cartIcon--mobile__menu--minicart {
    width : 23px !important;
    height: 22px !important;
}


@media (max-width: 425px) {
    .opened--desktop__menu--minicart {
        width       : 100%;
        width       : 100% !important;
        margin-right: 0px;
    }
}

@media (max-width: 321px) {
    .minicartSummary--minicart__summary--items:first-child :nth-child(2n) {
        margin-right: 0rem;
        font-size   : .875rem;
    }

    .minicartSummary--minicart__summary--items {
        margin-left: 0rem;
    }

    .minicartSummary--minicart__summary--items:last-child :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
        display: none;
    }

    .minicartCheckoutButton--checkout__button .vtex-button__label::before {
        margin-left: 5.3rem;
    }

    .minicartCheckoutButton--checkout__button {
        left : 0.5rem;
        width: 19rem;
    }

    .cartIcon--desktop__menu--minicart {
        height    : 23px;
        width     : 33px;
        margin-top: 4px;
        transform : translate(2px, -1px);
    }

    .minicartQuantityBadge--desktop__menu--minicart {
        margin-top: 26.1px;
    }

    .openIconContainer--desktop__menu--minicart {
        padding: 0 !important;
    }
}

@media (min-width: 321px) and (max-width: 398px) {
    .minicartSummary--minicart__summary--items:first-child :nth-child(2n) {
        margin-right: 0rem;
        font-size   : .875rem;
    }

    .minicartSummary--minicart__summary--items {
        margin-left: 0rem;
    }

    .minicartSummary--minicart__summary--items:last-child :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
        display: none;
    }

    .minicartCheckoutButton--checkout__button {
        left : 2rem;
        width: 19rem;
    }

    .openIconContainer--desktop__menu--minicart {
        padding: 0 !important;
    }

    .cartIcon--desktop__menu--minicart {
        height    : 25px;
        width     : 33px;
        margin-top: 2px;
        transform : translate(2px, -1px);
    }

    .minicartQuantityBadge--desktop__menu--minicart {
        margin-top: 26.1px;
    }
}

@media (min-width: 399px) and (max-width: 425px) {
    .minicartSummary--minicart__summary--items:first-child :nth-child(2n) {
        margin-right: 0rem;
        font-size   : .875rem;
    }

    .minicartSummary--minicart__summary--items {
        margin-left: 0rem;
    }

    .minicartSummary--minicart__summary--items:last-child :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
        display: none;
    }

    .minicartCheckoutButton--checkout__button {
        left : 2rem;
        width: 19rem;
    }

    .openIconContainer--desktop__menu--minicart {
        padding: 0 !important;
    }

    .cartIcon--desktop__menu--minicart {
        height    : 25px;
        width     : 33px;
        margin-top: 2px;
        transform : translate(2px, -1px);
    }

    .minicartQuantityBadge--desktop__menu--minicart {
        margin-top: 26.1px;
    }

    .opened--desktop__menu--minicart {
        max-width   : 427px;
        margin-right: 0;
        margin-top  : 76px;
    }
}


