.flexRow--mobile__header--menu {
    border-bottom   : 1px solid #d7d7d8;
    background-color: #ffffff;
    display         : flex;
}

.flexCol--mobile__menu--profile {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexCol--mobile__menu--bag {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexCol--mobile__menu--favorites {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexCol--mobile__menu--store {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexCol--mobile__menu--help {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexCol--mobile__menu--globe {
    display       : flex;
    flex-direction: row;
    margin        : 1rem 1rem;
}

.flexColChild--mobile__menu--globe :last-child,
.flexColChild--mobile__menu--help :last-child,
.flexColChild--mobile__menu--store :last-child,
.flexColChild--mobile__menu--favorites :last-child {
    margin-top: -2px;
    color     : #666;
    cursor    : pointer;
}

.flexColChild--mobile__menu--bag :last-child,
.flexColChild--mobile__menu--profile :last-child {
    margin-top: -1px;
    color     : #666;
    cursor    : pointer;
}

.flexCol--mobile__menu--collections {
    margin: 0.5rem 1rem;
}

.flexRowContent--mobile__menu--see_more {
    display       : flex;
    flex-direction: row;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flexRowContent--mobile__menu--see_more {
        margin: 0;
    }
}

.flexRow--mobile__menu--see_more {
    margin-left: 18rem;
    margin-top : -3rem;
    border     : 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flexRow--mobile__menu--see_more {
        margin-left: 43rem;
    }
}

.flexCol--mobile__submenu--novelty,
.flexCol--mobile__submenu--party,
.flexCol--mobile__submenu--office {
    display       : flex;
    flex-direction: inherit;
    margin-top    : 11px;
}

.flexRowContent--mobile__menu--more {
    margin-left: 2rem;
}

.flexColChild--mobile__submenu--see_icon {
    width: 0;
}

.flexCol--mobile__submenu--see_icon {
    margin-top: 13px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flexCol--mobile__submenu--see_icon {
        margin-left: 24rem;
    }
}

.flexRowContent--mobile__menu--profile {
    margin-top: 3rem;
}

.flexRowContent--phone__header--menu {
    background-color: #ffffff;
}