.flexRow--mobile__header--free_shipping {
    border-bottom: 1px solid #d7d7d8;
}

.flexRow--mobile__header--menu {
    border-bottom: 1px solid #d7d7d8;
}

.mobile__searchbar--icon {
    margin-top: 23px;
}

.flexColChild--mobile__searchbar--icon {
    margin-top: 23px;
}