.imageElement--header__menu--clothing_image {
    max-width  : 22%;
    margin-left: 9rem;
}

.imageElement--header__menu--accessories_image {
    max-width  : 29%;
    margin-left: 7.5rem;
    height     : 4rem;
}

.imageElement--header__menu--plus_size_image {
    max-width  : 26%;
    margin-left: 8rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .imageElement--header__menu--clothing_image {
        margin-left: 31rem;
        width      : 3.4rem;
    }

    .imageElement--header__menu--accessories_image {
        margin-left: 29rem;
        margin-top : 1rem;
    }

    .imageElement--header__menu--plus_size_image {
        margin-left: 30rem;
        width      : 3.5rem;
    }
}

.logoImage--mobile__header--logo {
    max-width   : 70%;
    margin-top  : 1rem;
    margin-right: 6rem;
}

.autoCompleteOuterContainer--mobile__header--menu {
    background-color: #f3f3f3;

}

.autoCompleteOuterContainer--mobile__header--menu :first-child {
    border          : none;
    background-color: #f3f3f3;
}

.autoCompleteOuterContainer--mobile__header--menu :nth-child(2n) {
    background-color: #f3f3f3;
}

.autoCompleteOuterContainer--mobile__header--menu :nth-child(1n) {
    background-color: #f3f3f3;
}

.searchBarIcon--mobile__header--menu--search :first-child {
    display: none;
}

.imageElement--mobile__submenu--novelty,
.imageElement--mobile__submenu--party,
.imageElement--mobile__submenu--office {
    width        : 3.1rem;
    height       : 60px;
    border-radius: 50%;
    margin-left  : 1rem;
}

.searchBarInnerContainer--mobile__header--menu {
    max-width: 85%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .autoCompleteOuterContainer--mobile__header--menu {
        width: 43rem;
    }
}


