.openIconContainer--drawer__menu-global {
    padding      : 5px 10px 1px 6px;
    margin-top   : 0.3rem;
    margin-bottom: -0.4rem;
    margin-left  : 0.1rem;
}

.opened--drawer__menu-global {
    overflow: auto;
    width: 100%!important;
    max-width: 100%!important;
}

.childrenContainer--drawer__menu-global {
    border-top: .5px solid #b8b8b8;
    border-bottom: .5px solid #b8b8b8;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .childrenContainer--drawer__menu-global {
        display: flex;
        justify-content: space-around;
    }

}

