.paragraph--mobile__menu--collection_one,
.paragraph--mobile__menu--trends_one {
    font-weight   : bold;
    font-size     : 1.4rem;
    letter-spacing: .3px;
    margin-top    : 17px;
}

.paragraph--mobile__menu--collection_two,
.paragraph--mobile__menu--trends_two {
    color: #aaa;
}

.container--mobile__menu--see_text {
    margin-top: -5px;
}

.paragraph--mobile__menu--see_text {
    margin-left: -4rem;
}

.paragraph--mobile__submenu--novelty_two {
    margin-top : 19px;
    margin-left: -67px;
    color      : #aaa;
    font-size  : .9rem;
}

.paragraph--mobile__submenu--party_two {
    margin-top : 19px;
    margin-left: -117px;
    color      : #aaa;
    font-size  : .9rem;
}

.paragraph--mobile__submenu--office_two {
    margin-top : 19px;
    margin-left: -69px;
    color      : #aaa;
    font-size  : .9rem;
}


.paragraph--mobile__submenu--novelty_one,
.paragraph--mobile__submenu--party_one,
.paragraph--mobile__submenu--office_one {
    margin-left: 15px;
    font-weight: bold;
}

